.Container {
  max-width: 600px;
  background-color: rgb(243, 242, 242);
  margin-left: auto;
  margin-right: auto;
}
.Form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(46, 41, 39);
  padding: 25px;
}
.FormTitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.FormBtn {
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
  margin: 15px 30px 0 30px;
  background-color: chocolate;
  color: aliceblue;
}
.FormInput {
  font-size: 25px;
  padding: 5px;
}
h1,
h2 {
  display: flex;
  justify-content: center;
}
